.navbar{
    height: max-content;
    display: flex;
    justify-content: center;
    background-color: $navbar;
}

.navContainer{
    width: 100vw;
    min-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navButton{
    margin-right: 2rem;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 700;
    color: $secondary-color;
    background-color: $navbar ;
}